


<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Le composant de la sidebar sera ajouté ici -->
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Search Bar -->
    <div class="search-bar">
      <!-- Le composant de la barre de recherche sera ajouté ici -->
      <app-search-bar></app-search-bar>
    </div>

    <!-- Notifications & Historique -->
    <div class="dashboard">
      <div class="left-panel">
        <div class="notifications-container">
          <h2>Notifications</h2>
          <div
            *ngFor="let notification of notifications"
            class="notification-card"
            [ngClass]="notification.type"
          >
            <div class="icon">🔔</div>
            <div class="content">
              <h3>{{ notification.title }}</h3>
              <p>{{ notification.message }}</p>
            </div>
            <span class="timestamp">{{ notification.timestamp }}</span>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <app-historique-cons></app-historique-cons>
      </div>
    </div>
  </div>
</div>


