
$color-start: #173B61;
$color-end: #2F79C7;

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    margin-top: 150px;
    margin-bottom: 6rem;

    .mdp_oublie {
        background: linear-gradient(90deg, $color-start 0%, $color-end 100%);
        width: 540px;
        height: 540px;
        border-radius: 20px;
        box-shadow: lightgray 0 0 5px;
      
        h1{
          color: #FFFFFF;
          text-align: center;
          margin-top: 4rem;
        }
      
        .input-container{
            margin-top: 4rem;
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            font-size: 15px;
            line-height: 2rem;
            margin-left: 4rem;

            .champ {
                width: 400px;
                height: 57px;
                padding: 1rem;
                font-size: 1rem;
                border-radius: 20px;
                border: 1px solid transparent;
                background-color: #FFFFFF;
                outline: none;
            }

            .label{
                margin-left: 1rem;
            }

        }
    
      
        button{
          background-color:#FFFFFF;
          height: 50px;
          width: 180px;
          border-radius: 20px;
          border: 0;
          margin-top: 7rem;
          margin-left: 33%;
          
      
          .btn-confirm{
              text-decoration: none;
              color: #173B61;
              font-weight: bold;
              font-size: 18px;
              align-items: center;
          }
        }
      
    }
}

.retour{
    a{
        color: #173B61;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        margin-top: 4rem;
        margin-left: 4rem;
        
    }

    .arrow-back{
        margin-right: 0.5rem;
    }

}
