
// nav{
//   background-color: #173B61;
//   height: 60px;
//   margin-left: 1.4rem;
//   position:sticky;
//   width: calc(100vw - 245px);
// }

nav {
  background-color: #173B61;
  height: 60px;
  position: sticky;
  z-index: 10; 
  // margin-left: 1.4rem;
  // position:sticky;
  max-width: calc(100vw - 245px);
}

input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  // margin-top: 13px;
  // margin-left: 40px;
  border: 2px solid white;
  padding-left: 10px;
}

i{
  color: white;
}
.search-button{
  color: #173B61;
  margin-left: -30px;
}
.element2{
  margin-left: 10px;
}
a > svg:hover{
  fill: #ffffff81;
}


