*{
    font-family: 'Inter', sans-serif;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #173B61;
}
.centre_{
    width: calc(100vw - 245px);
    max-height: 100vh;
}