<div class="side-panel">
  <h2 class="title">Compte</h2>
  <div class="profile">
    <img
      src="assets/homme.jpg"
      alt="Profile Picture"
      class="profile-picture"
    />
  </div>
  <div class="info">
    <div class="info-item">
      <i class="fa fa-user"></i>
      <span>Falluh Diaw</span>
    </div>
    <div class="info-item">
      <i class="fa fa-phone"></i>
      <span>+221783443323</span>
    </div>
    <div class="info-item">
      <i class="fa fa-envelope"></i>
      <span>falluheptsn</span>
    </div>
    <div class="info-item">
      <i class="fa fa-lock"></i>
      <span>********</span>
    </div>
  </div>
</div>


