<div class="contenu">
    <div class="pieces">
        <h2>Pièces</h2>
        <div class="card1">
            <div class="card-piece mt-2 mt-xxl-3">
                <div class="en-tete">
                    <i class="ajout fa-solid fa-circle-plus"></i>
                    <p>Ajouter une pièce</p>
                </div>
                <!-- Boucle *ngFor pour afficher les pièces -->
                <div class="ensemble">
                    <div class="details_piece" *ngFor="let piece of pieces; let i = index" (click)="onPieceClick(i)" [ngStyle]="{'background-color': selectedPieceIndex === i ? '#D0E3FF' : '#FFFFFF'}">
                        <div class="contenu-piece">
                            <img [src]="piece.imgUrl" alt="{{ piece.nom_piece }}">
                            <div class="piece">
                                <h3>{{ piece.nom_piece }}</h3>
                                <p>{{ piece.surface }}</p>
                            </div>
                        </div>
                        <i class="icone-option fa-solid fa-ellipsis"></i>
                    </div>
                </div>

            </div>

            <!-- Carte pour afficher les appareils -->
            <div class="card-appareils mt-2 mt-xxl-3">
                <div class="en-tete">
                    <i class="ajout fa-solid fa-circle-plus"></i>
                    <p>Ajouter un appareil</p>
                </div>
                <!-- Boucle *ngFor pour afficher les appareils -->
                <div class="ensemble">
                    <div class="details_piece" *ngFor="let appareil of appareils">
                        <div class="contenu-piece">
                            <img [src]="appareil.imgUrl" alt="{{ appareil.nom_appareil }}">
                            <div class="piece">
                                <h3>{{ appareil.nom_appareil }}</h3>
                                <p>{{ appareil.nom_piece }}</p>
                            </div>
                        </div>
                        <i class="icone-delete fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card2 mt-2 mt-xxl-3">
            <div class="en-tete py-0 my-0">
                <p class="pt-1 mb-1 pb-1 pt-xxl-3">Wa Keur Gui</p>
            </div>
            <div class="membres pb-xxl-4 pt-0 me-4 mb-4">
                <div class="boucle my-0 pt-2" *ngFor="let user of users">
                    <div class="user">
                        <img [src]="user.profile_user" alt="{{ user.nom_user }}">
                        <div class="user_detail">
                            <h3>{{ user.nom_user }}</h3>
                            <p>{{ user.mail_user }}</p>
                        </div>
                    </div>
                    <i class="icone-delete fa-solid fa-trash"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="historique me-3" *ngIf="!showHistoriquePiece" >
        <!-- Historique des consommations -->
      <app-historique-cons></app-historique-cons>
    </div>
    <div class="historiquePiece text-center me-3" *ngIf="showHistoriquePiece">
        <h2 class="mt-3 mt-xxl-5 text-center fw-bold">{{ selectedPiece?.nom_piece }}</h2>
        <img class="" [src]="selectedPiece?.imgUrl" alt="{{ selectedPiece?.nom_piece }}">
        <div class="consommation consos  mt-xxl-2" *ngFor="let consommation of consommations">
            <div class="border px-3 py-2 py-xxl-3 mt-3">
                <div class="fw-bolder text-start"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="6" cy="6" r="6"/>
                    </svg> {{consommation.type_consommation}}</div>
                <div class="d-flex justify-content-between">
                    <span>Vous avez consommé : </span> <span>{{consommation.cout_energetique}}</span>
                </div>
                <div class="text-end fw-bold">{{consommation.pourcentage}}</div>
            </div>
        </div>
    </div>
</div>
