.contenu{
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    .pieces{
        max-width: calc(100vw - 600px);
        margin-top: 1rem;
        h2{
            color: #173B61;
            font-weight: bold;
            margin-left: 2rem;
        }
 
        .card1{
            display: flex;
            max-height: 60%;
            .card-piece,.card-appareils{
                display: flex;
                flex-direction: column;
                box-shadow: lightgray 0 0 5px;
                border-radius: 8px;
                flex: 1;
                margin-left: 1rem;
                max-height: 90%;
                overflow-y: auto;
                scrollbar-width: none;


                .en-tete{
                    display: flex;
                    padding-left: 3rem;
                    padding-top: 1rem;

                    .ajout{
                        font-size: 22px;
                        color: #173B61;
                    }

                    p{
                        font-size: 18px;
                        color: #173B61;
                        font-weight: bold;
                        padding-left: 7px;
                        padding-top: 1px;
                    }
                }

                .ensemble{

                    .details_piece:hover{
                        background-color: #D0E3FF;
                    }
                    .details_piece{
                        margin: 1rem 1rem 1rem;
                        border-bottom: 0.1px solid #D0E3FF;
                        border-radius: 8px;
                        padding: 16px;
                        // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
                        display: flex;
                        width: inherit;
                        height: 80px;
                        justify-content: space-between;

                        .contenu-piece{
                            display: flex;

                            img{
                                max-width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                margin-bottom: 8px;
                            }

                            .piece{
                                font-size: 14px;
                                margin-left: 1rem;

                                h3{
                                    font-size: 16px;
                                    color: #173B61;
                                    padding-top: 0.4rem;

                                }

                                p{
                                    margin-top: 0.3rem;
                                    color: #666;
                                }
                            }
                        }

                        .icone-option, .icone-delete{
                            text-align: right;
                            font-size: 24px;
                            color: #173B61;
                            padding-top: 10px;
                            padding-right: 10px;
                        }

                        .icone-delete{
                            font-size: 20px;
                        }

                    }
                }


            }

        }

        .card2{
            margin-left: 1rem;
            box-shadow: 2px 2px 2px 3px rgba(0.1, 0.1, 0.1, 0.1);
            border-radius: 10px;
            padding-bottom: 1rem;
            max-height: 20%;
            .en-tete{

                p{
                    font-weight: bold;
                    padding-left: 2rem;
                    color: #173B61;

                }
            }


            .membres{

                display: flex;

                .boucle{
                    display: flex;
                    justify-content: space-between;
                    margin-left: 2rem;
                    padding-left: 1rem;
                    width: 380px;
                    border-radius: 10px;
                    border: 0.2px solid #E6EDFB;

                    .user{
                        display: flex;

                        img{
                            max-width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }

                        .user_detail{
                            font-size: 14px;
                            margin-left: 1rem;

                            h3{
                                font-size: 16px;
                                color: #173B61;
                                padding-top: 0.4rem;

                            }

                            p{
                                margin-top: 0.3rem;
                                color: #666;
                            }
                        }
                    }

                    .icone-delete{
                        text-align: right;
                        font-size: 20px;
                        color: #173B61;
                        padding-top: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    .historique{
        // margin-right: 2rem;
        width: 25vw;
        /*background-color: black;*/
        margin-top: 1rem;
    }

    .historiquePiece{
        width: 23vw;

        h2{
            font-size: 28px;
            color: #173B61;
        }
        img{
            margin-top: 1rem;
            width: 23vw;
            height: 23vh;
            box-shadow: 0px 0px 3px 3px rgba(0.1, 0.1, 0.1, 0.1);
            border-radius: 10px;
        }

        .consommation{

            .details_cons{
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                margin: 0.5rem;
                .type_cons{
                    display: flex;

                    .circle{
                        color: #173B61;
                        font-size: 15px;
                    }
                    p{
                        font-size: 18px;
                        font-weight: bold;
                        padding-left: 0.5rem;
                        color: #173B61;
                        padding-top: 0.3rem;
                    }
                }

                .cons{
                    display: flex;

                    p{
                        font-size: 13px;
                        color: #173B61;
                    }

                    .energie{

                        .cout_energetique{
                            font-weight: bold;
                            color: #173B61;
                        }

                        .pourcentage{
                            display: flex;
                            padding-top: 0.2rem;
                            .arrow-up{
                                color: #48742c;
                                font-size: 15px;
                                padding-right: 2px;
                            }
                            span{
                                color: #48742c;
                                font-size: 13px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
// }
.consos > div{
    height: 15vh;
    color: #173B61;
    border-radius: 10px;
    box-shadow: 0px 2px 2px gray;
}
