<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="rectanglewhite">
        <span class="titlee" > 
            <img src="assets/logonobg.png" alt="logo_app" width="50px" height="50px">
           <span class="secondtitle">eurgui Energy</span>
        </span>
        <div class="thesidebar">
            <div class="accueil common">
                <i class="fa-solid fa-house"></i>
                Accueil
            </div>
            <div class="appareil common" routerLink="/appareils">
                <i class="fa-solid fa-house-laptop"></i>
                Appareils
            </div>
            <div class="historique common">
                <i class="fa-solid fa-chart-area"></i>
                Historique
            </div>
            <div class="notif common">
                <i class="fa-solid fa-bell"></i>
                Notifications
            </div>
            <div class="pieces common" routerLink="/pieces">
                <i class="fa-solid fa-couch"></i>
                Pièces
            </div>
        </div>
        <div class="deconnexion"> 
            <i class="fa-solid fa-right-from-bracket"></i>
            <a routerLink="">Déconnexion</a>
        </div>
    </div>
</body>
</html>
