* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
max-height: 100vh;
max-width: 100vw;
margin: 0;
padding: 0;
overflow: hidden;
}
.connexion {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-shadow: lightgray 0 0 5px;

  .gauche {
    flex: 1;
    background: linear-gradient(90deg, #173B61 0%, #091F5B 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;

    .maison {
      width: 400px;
      margin-bottom: 1.5rem;
    }

    h2 {
      color: #6DAFF6;
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    h3 {
      color: #FFFFFF;
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .droite {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .logo {
      width: 300px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 40px;
      color: #173B61;
      margin-bottom: 2rem;
      font-weight: bold;
    }

    form {
      width: 100%;
      max-width: 300px;
      
      .input-container:first-child{
          margin-bottom: 1.5rem;
      }

      .input-container {
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        .champ {
          width: 280px;
          height: 57px;
          padding: 1rem;
          font-size: 1rem;
          border-radius: 20px;
          border: 1px solid transparent;
          background-color: #E6EDFB;
          outline: none;
          transition: border-color 0.3s ease;

          &:focus {
            border-color: #091F5B;
          }

          &:focus + label,
          &:not(:placeholder-shown) + label {
            transform: translateY(-3rem);
            font-size: 15px;
            color: #091F5B;
          }
      
      
      }


      label {
          position: absolute;
          top: 50%;
          left: 1rem;
          transform: translateY(-50%);
          font-size: 1rem;
          color: #8da0b9;
          pointer-events: none;
          transition: all 0.3s ease;
      }
      }
    }

    .lien_mdp_oublie {
      color: #173B61;
      font-size: 14px;
      font-weight: bold;
      margin-left: 5rem;
      margin-top: 10px;
    }

    button{
      margin-top: 3rem;
      background-color:#173B61;
      height: 50px;
      width: 180px;
      border-radius: 20px;
      outline: none;
      border: 0;

      .bouton{
          text-decoration: none;
          color: #FFFFFF;
          font-weight: bold;
          font-size: 20px;
      }

    }

    .inscription{
      font-size: 14px;
      margin-top: 10%;
      color: #173B61;
      font-weight: bold;
      margin-top: 2rem;

      .lien-inscription{
          color: #B2CCFF;
      }
    }
    
  }
}

