<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<body>
    <div class="inscription" @superSmoothSlide>
        <div class="gauche">
            <img [src]="imgPath" alt="maison" class="maison">
            <h2>Avec KeurGui Energy,</h2>
            <h3>{{ slogan }}</h3>
        </div>

        <div class="droite">
            <img [src]="logoPath" alt="logo" class="logo">
            <h2 class="text-center mb-3 mt-2">{{ title }}</h2>

            <form action="">
                <div class="input-container text-center">
                    <input type="text" id="prenom" class="champ" name="prenom" [(ngModel)]="user.prenom"/>
                    <label for="prenom">Prénom</label>
                </div>
                <div class="input-container text-center">
                    <input type="text" id="nom" class="champ" name="nom" [(ngModel)]="user.nom"/>
                    <label for="nom">Nom</label>
                </div>
                <div class="input-container text-center">
                    <input type="number" id="telephone" class="champ" name="telephone" [(ngModel)]="user.telephone" />
                    <label for="telephone">Téléphone</label>
                </div>
            </form>
            <button class="text-center mt-4 mt-xxl-5">
                <a class="bouton" (click)="submitStep1()">Suivant</a>
            </button>
            <p class="connexion mt-4 mt-xxl-5">
                <span>Vous avez déjà un compte ? </span>
                <a routerLink="/connexion" class="lien-connexion">Connectez-vous</a>
            </p>
        </div>

    </div>
</body>


