
// nav{
//   background-color: #173B61;
//   height: 60px;
//   margin-left: 1.4rem;
//   position:sticky;
//   width: calc(100vw - 245px);
// }

nav {
  background-color: #173B61;
  height: 60px;
  position: sticky; 
  top: 0; 
  left: 245px; /* Correspond à la largeur de la sidebar */
  width: calc(100% - 245px); 
  display: flex; 
   z-index: 10; 
}

input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  margin-top: 13px;
  margin-left: 40px;
  border: 2px solid white;
  padding-left: 10px;
}

i{
  color: white;
}
.search-button{
  color: #173B61;
  margin-left: -30px;
}
.form-element2{
  margin-left: 1100px;
  margin-top: -28px;
}
.element2{
  margin-left: 10px;
}



