
.thehome{

    height: 90vh;
    max-width: calc(100vw - 571px );
    // position: absolute;
    font-family: "Inter";
    overflow-y: auto;
    margin-top: 1.5rem;
}
.maisonxjournalier{
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    height: 20rem;
}
.maison, .journalier{
    // position: relative;
    height:15rem;
}
.maison{
   margin:auto;
    width: 20rem;
    display: flex;
    flex-direction: column;
    color: #091f5b;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    img{
        border-radius: 10px ;
        margin: auto;
        height: 132px;
        width: 228px;

    }
    .votremaison{
        font-size: 16px;
        margin-top: auto;
        margin-left: 1rem ;
    }
    .info{
        display: flex;
        height: 24px;
        padding-bottom: 2.5rem;
        padding-right: 1.2rem;
    }
    .adresse{
      font-size: 10px;
      margin-left:8%;
      padding-bottom: 3rem;
    }
    .surface{
        font-size: 13px;
        color: #f35b04;
        margin-left: 35%;
        margin-bottom: 8%;
    }

    .circlee{
        height:18px ;
        width: 18px;
        background-color: #091f5b;
        border-radius: 50%;
        margin-left: 15%;
        margin-bottom: 5%;
    }

}
.journalier{
    margin: auto;
    width: 20rem;
    display: flex;
    flex-direction: column;
    color: #091f5b;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.commun{
    display: flex;
    margin: auto ;
    justify-content: space-between;

}
.consommation{
    margin-right: 0.5rem;
}

.consommation, .coutenergie{
    background-color: #3d3488;
    color: white;
    height: 8rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    padding: 2%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),0 6px 20px rgba(0, 0, 0, 0.19);
}
.themoney, .theenergy{
    font-size: 24px;
    text-align: center;
}

.journalierr{
    padding-top: 0.7rem;
    text-align: center;
    font-weight: bold;
}

.graphique{
    height: 60vh;
    width: 55vw;
}
.piecess{
    height: 248px;
    padding-left: 1.5rem;

}
.automation{
    height: 330px;
    padding-left: 1.5rem;
    padding-top: 20px;
}

.piecetitle, .automationtitle{
    font-weight: bold;
    font-size: 36px;
    color: #091f5b;
}

// body{
//     color: bisque !important;
// }

.conso__{
    width: 300px;
}
.center_bas{
    display: flex;
    justify-content: space-around;
}
div::-webkit-scrollbar{
    display: none;
}
