<div class="center_bas">
    <div class="thehome">
        <div class="maisonxjournalier">
            <div class="maison">
                <span class="votremaison">Votre maison,</span>
                <img src="./assets/maison.jpg" alt="photo de votre maison" width="228px" height="132px">
            <div class="info">
                <div class="adresse"> Patte d'Oie Builders,</div>
                <div class="surface"> 150m²</div>
                <div class="circlee"></div>
            </div>
            </div>
            <div class="journalier">
                <div class="text-start ps-3 journalierr">
                    Journalier
                    <i class="fa-solid fa-angle-down" style="padding-top: 3%;"></i>
                </div>
                <div class="commun">
                    <div class="consommation ">
                        <span style="font-weight: normal; font-size: 14px;">Consommation</span>
                        <span class="themoney">200.000
                            <span style="font-size: 15px;">Fr</span>
                        </span>
                        <span style="font-size: 12px;">Ce mois ci,</span>
                    </div>
                    <div class="coutenergie ">
                        <span style="font-weight: normal; font-size: 14px;">Cout énergétique</span>
                        <span class="theenergy">2500
                            <span style="font-size: 12px;">kWh</span>
                        </span>
                        <span style="font-size: 12px;" >Ce mois ci,</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="graphique">
            <app-graphique></app-graphique>
        </div>
        <div class="piecess ">
            <div class="piecetitle">
                <a [routerLink]="['/keurgui', 'pieces']" style="text-decoration: none; color: #091f5b;">Pièces</a>
            </div>
            <div class="piececontent">
                <app-pieceaccueil></app-pieceaccueil>
            </div>
        </div>
        <div class="automation">
            <div class="automationtitle">
                <a [routerLink]="['/keurgui', 'appareils']" style="text-decoration: none; color: #091f5b;">Automatisation</a>
            </div>
            <div class="automationcontent">
                <app-deviceautomation></app-deviceautomation>
            </div>
        </div>
    </div>

    <div class="conso__">
      <app-historique-cons></app-historique-cons>
    </div>
</div>
