

<body>
    <div class="mdp_oublie">
        <h1>Mot de passe oublié ?</h1>
        <div class="input-container">
            <div class="container">
                <label for="email" class="label">Nouveau mot de passe</label>
                <input type="email" id="email" class="champ"/>
            </div>

            <div class="container">
                <label for="email" class="label">Confimer mot de passe</label>
                <input type="email" id="email" class="champ"/>
            </div>
        </div>
        <button>
          <a routerLink="/connexion" class="btn-confirm">Confirmer</a>
        </button>
    </div>
    
</body>

<div class="retour">
    <a routerLink="/connexion">
        <i class="arrow-back fa-solid fa-arrow-left"></i>
        Retourner à la page de connexion
    </a>
</div>

