<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="searchbar">
        <app-search-bar></app-search-bar>
    </div>
    <div class="historiquecontent">
        <div class="historiquetitle p-3 ps-4">Historique</div>
        <div class="graphiques mx-5">
            <div class="graphiquetitle p-3">Votre consommation,</div>
        <div class="thegraphiques d-flex">
            <div class="premiergraphique">
                <app-premiergraphique></app-premiergraphique>
            </div>
            <div class="deuxiemegraphique">
                <app-deuxiemegraphique></app-deuxiemegraphique>
            </div>
        </div>
        </div>
        <div class="consommationcout my-4">
            <div class="consommation mx-5">
                <div class="appmensuel">
                    <span class="vosappareils  me-5 pe-5 ps-4 pt-5">Vos appareils
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </span>
                    <span class="mensuel ms-5 ps-5 pe-2 pt-5">mensuel
                        <i class="fa-solid fa-angle-down mt-4"></i>
                    </span>
                </div>

                <div class="common mt-3">
                    <div class="cons">
                        <span style=" font-size: 14px;">Vous avez consommé</span>
                        <span class="theenergy" style="text-align: center; font-size: 48px;">350
                        <span style="font-size: 20px;">kWh</span>
                        </span>
                    <span style="font-size: 13px; text-align: right;" >Ce mois ci,</span>
                    </div>
                    <div class="cost">
                        <span style=" font-size: 14px;">Consommation</span>
                        <span class="themoney" style="text-align: center; font-size: 34px;">200.000
                            <span style="font-size: 20px;">Fr</span>
                        </span>
                        <span style="font-size: 13px; text-align: right;">Ce mois ci,</span>
                    </div>
                </div>

            </div>
            <div class="cout mx-5">
                <div class="apphebdomadaire">
                    <span class="vosappareils me-5 pe-4 ps-4 pt-5">Vos appareils
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </span>
                    <span class="hebdomadaire ms-5 ps-4 pe-2 pt-5">hebdomadaire 
                        <i class="fa-solid fa-angle-down mt-4" ></i>
                    </span>

                    <div class="common mt-3">
                        <div class="cons">
                           <span style="font-weight: bold; font-size: 14px;">Vous avez consommé</span>
                            <span class="theenergy" style="text-align: center; font-size: 48px;">150
                            <span style="font-size: 20px;">kWh</span>
                            </span>
                        <span style="font-size: 13px; text-align: right;" >Cette semaine ci,</span>
                        </div>
                        <div class="cost">
                            <span style="font-weight: bold; font-size: 14px;">Cout energétique</span>
                        <span class="themoney " style="text-align: center; font-size: 34px;">50000
                            <span style="font-size: 20px;">Fr</span>
                        </span>
                        <span style="font-size: 13px; text-align:right;">Cette semaine ci,</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
